* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

::-webkit-scrollbar {
    width: 12px; 
}

::-webkit-scrollbar-track {
    background: #fff; 
}

::-webkit-scrollbar-thumb {
    background: #000;
    border-radius: 6px; 
}

h1 {
    font-size: xx-large;
}

h2,h3,a{
    font-size: x-large;
}

p{
    font-size: large;
}

/* ////////////////////////////////////// hero & header /////////////////////////////////////// */

.hero{
    background: #d3c6af;
    padding: 0 0 5rem  0;
    position: relative;
    background-size: cover;
}

.pp {
    display: flex;
    gap: 0;
}

.sp1{
    display: flex;
    flex-direction: column;
    width: 500px;
}

header{
    display: flex;
    align-items: center;
    padding: 1rem 0 0 0;
    margin: 0  5rem 5rem 5rem  ;
    justify-content: space-between;
}

.search {
    display: flex;
    align-items: center;
    justify-content: space-between;
    text-align: center;
    margin:  0 5px 0 10px;
}
  
.search__input:focus {
    outline: none;
    background-color: #fff;
}
  
.search__input::-webkit-input-placeholder {
    color: gray;
    font-size: 12px;
}

.navbar{
    display: flex;
    align-items: center;
}
  
.search__icon {
    height: 1em;
    width: 1em;
    fill: gray;
}

.her{
    display: flex;
    flex-direction: column;
}

.her1{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.logo1{
    margin: 0 0 1rem 0;
    display: flex;
    flex-direction: column;
}

.her img{
    border-radius: 15rem;
}

.logo img {
    border-radius: 30px;
}

.container {
    overflow: hidden; 
}

.slide-in-photo {
    position: relative;
    left: -100%;
    opacity: 0;
    transition: left 1s ease-in-out, opacity 1s ease-in-out;
}

.container.in-view .slide-in-photo {
    left: 0;
    opacity: 1;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar__logo {
    font-size: 1.5rem;
}

.navbar__links {
    list-style: none;
    margin: 0;
    padding: 0;
    gap: 30px;
    display: flex;
}

.navbar__links li {
    margin: 0 0rem;
}

.navbar__links a {
    color: #000;
    text-decoration: none;
    padding: 0.2rem;
}

.navbar__toggle {
    display: none;
    background: none;
    border: none;
    color: #fff;
    cursor: pointer;
    margin: 0px;
    padding: 0px;
    width: 40px;
    height: 60px;
} 

input[type="text"] {
    background-color: #fff;
    color: gray;
    transition: all ease-in-out .5s;
    width: 140px;
    height: 30px;
    padding: 5px 10px;
    font-size: 16px;
    border-radius: 15px;
    margin-right: -2.5rem;
    border: none;
}

.search__button {
    border: none;
    background-color: #fff;
    margin-top: .000000000000000000001em;
    margin-bottom: 0.000000000000000000001em;
    height: 30px;
    width: 30px;
    font-size: 16px;
    border-radius: 15px;
}

/* ////////////////////////////////////////////////// Gog Breed & slide /////////////////////////////////// */

.sp2{
    margin: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 300px;
    justify-content: center;
}

button{
    width: 100px;
    height: 40px;
    border-radius: 15px;
    border: #aa6b0d;
    color: #fff;
    background: #aa6b0d;
}

button:hover{
    cursor: pointer;
    transform:scale(1.01,1.01) ;
}

.slide{
    display: flex;
    gap: 15px;
    align-items: center;
    margin: 0 5rem 5rem 5rem;
    justify-content: center;
}

.slide h3{
    margin: 2rem 0 0 0;
}

.slide img{
    border-radius: 15px;
    width: 550px;
    height: 260px;
}

.slide button,.slid button{
    width: 30px;
    height: 40px;
    color: #000;
    background: #fff;
}

.slidesss{
    display: flex;
    gap: 1rem;
    position: relative;
    margin:0 10rem;
    overflow: hidden;
    justify-content: center;
    align-items: center;
}

.slidesss div{
    display: none;
}

div.displayslide{
    display: block;
}

/* //////////////////////////// pet product & photos ////////////////////////////////////////////// */

.photos{
    display: inline-block;
}

.photos img{
    width: 300px;
    height: 300px;
}

.sp3{
    margin: 7rem 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sp3-1{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    margin: 0 0 7rem 0;
}

/* //////////////////////////// blog & slid & news! ////////////////////////////////////////////////// */

.blog{
    margin: 5rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
}

input[type="email"] {
    width: 150px;
    height: 40px;
    padding: 5px;
    border: 1px solid #fff;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2); 
    font-size: 16px;
    border-radius: 15px;
    margin: 2rem 0 0 0;
}

input[type="email"]:hover,input[type="email"]:focus {
    box-shadow: 2px 2px 12px #fff;
    border-radius: 15px;
    outline: none; 
}

.sp4{
    display: flex;
    background: #d3c6af;
    margin: 0;
    padding: 5rem 1rem;
    border: #fff solid 1px;
    border-radius: 20px; 
    align-items: center;
    justify-content: center;
    gap: 10rem;
}

.sp4-2{
    display: flex;
    flex-direction: column;
    width: 390px;
}

.sp4 img{
    border-radius: 15rem;
}

.slid{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin: 0 5rem 5rem 5rem;
}

.slidecard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 550px;
    height: 330px;
    min-height: fit-content;
    background: #fff;
    border-radius: 15px;
    transition: 450ms;
    border: rgb(110, 108, 108) solid 3px;
}  

.slideimge{
    border-radius: 15px;
    width: 545px;
    height: 250px;
} 

.slidedetails{
    padding: 1rem 0;
}

.slides{
    display: flex;
    gap: 1rem;
    position: relative;
    margin: auto;
    overflow: hidden;
    justify-content: space-between;
    margin: 2rem 10rem;
}

.slides div{
    display: none;
}

div.displayslide2{
    display: block;
}

/* ///////////////////////////// footer1 & footer2 //////////////////////////////////////// */

.footer1{
    padding: 3rem 5rem ;
    display: flex;
    color: #000;
    margin: 0 5rem  ;
    align-items: center;
    justify-content: space-between;
}

.foo1{
    display: flex;
    flex-direction: column;
}

.foo1 a{
    text-decoration: none;
    color: #000;
}

.footer1 h2{
    margin: 0 0 2rem 0;
}

.footer1 a,.footer1 p{
    margin: 0 0 1rem 0;
}

.footer2{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.social{
    margin: 1rem 0;
}

.img1{
    width: 200px;
    height: 200px;
}

/* //////////////////////////////////////// Css effects ///////////////////////////// */

a:hover{
    transition: all 0.3s;
    color: gray;
    transform: scale(1.1,1.1);
}

.sp1 button:hover,.sp3-1 button:hover,.sp4-2 button:hover,.footer2 img:hover{
    transition: all 0.3s;
    transform: scale(1.01,1.01);
    box-shadow:  0  0 2rem  #000;
}

.sp4 button,.sp3 button,.her button{
    margin: 2rem 0 0 0;
}

.photos img:hover {
    transition: all 0.3s;
    transform: scale(1.01,1.01);
    box-shadow:  0  0 5rem  #000;
}

/* ///////////////////////////////////////////////////////////////////////// */

@media screen and (max-width : 2000px) {
    .photos img{
        width: 210px;
        height: 210px;
    }
}

@media screen and (max-width : 1440px) {
    .slidecard{
        width: 450px;
        height: 400px;
    }

    .slidecard img{
        width: 445px;
        height: 300px;
    }

    .slide img{
        width: 450px;
        height: 300px;
    }
}

@media screen and ( max-width : 1024px) {
    .photos img{
        width: 98px;
        height: 98px;
    }

    .ss img,.slidecard img{
        width: 295px;
        height: 200px;
    }

    .slidesss,.slides{
        margin: 0 5rem;
    }

    .slidecard{
        width: 300px;
        height: 300px;
    }

    .footer1{
        margin: 0 2rem;
    }

    .img1{
        width: 160px;
        height: 160px;
    }

    a{
        font-size: 1rem;
    }
}

@media screen and (max-width : 768px) {
    .her1{
        display: flex;
        flex-direction: column;
        width: 100%;
        padding: 0;
    }

    .navbar__links {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 0; 
        height: 100vh;
        right:  0;
        border: #fff 5px solid;
        background: #fff;
    }
    
    .navbar__links.active {
        position: fixed;
        display: flex;
        justify-content: center;
        gap: 20px;
    }
    
    .navbar__toggle {
        display: block;
        margin: 30px 50px 30px 0;
    }
}

@media screen and (max-width : 696px) {
    .photos img{
        width: 63px;
        height: 63px;
    }

    .sp1{
        width: 500px;
    }

    .ss img,.slidecard img{
        width: 225px;
        height: 130px;
    }

    .slidecard{
        width: 230px;
        height: 240px;
    }

    .slid,.slide{
        margin:5rem 0;
    }

    .sp3-1{
        width: 500px;
    }

    .blog{
        width: 500px;
        margin: 5rem 0;
    }

    .sp4{
        flex-direction: column;
    }

    .footer1 a,.footer1 p,.footer2 p{
        font-size: 0.6rem;
    }

    .img1{
        width: 100px;
        height: 100px;
    }
}

@media screen and (max-width : 561px) {
    .photos img{
        width: 55px;
        height: 55px;
    }

    p,a{
        font-size: 0.7rem;
    }

    h1{
        font-size: 1.5rem;
    }

    h3{
        font-size: 0.7rem;
    }

    .footer2 p{
        font-size: 0.7rem;
    }

    .footer1 h2{
        font-size: 1rem;
    }

    .footer1{
        margin: 0 0;
    }

    .img1{
        width: 100px;
        height: 100px;
    }

    .sp1{
        width: 400px;
    }

    header{
        margin: 0  0 0 1rem;
    }

    .navbar{
        margin: 0 3rem 0 0 ;
    }

    .ss img,.slid img{
        width: 164px;
        height: 100px;
    }

    .slidecard{
        width: 170px;
        height: 170px;
    }

    .sp3-1{
        width: 400px;
    }

    .slides,.slidesss{
        margin: 0 2rem;
    }

    .blog{
        width: 400px;
    }

    .rr{
        gap: 50px;
    }
}

@media screen and (max-width : 425px) {
    .photos img{
        width: 70px;
        height: 70px;
    }

    .sp1{
        width: 320px;
    }

    .sp3-1{
        width: 320px;
    }

    .blog{
        width: 350px;
    }

    .sp4-2{
        width: 320px;
    }

    .footer1 p{
        font-size: 0.6rem;
    }

    .footer1{
        padding: 3rem 2rem 1rem 2rem;
    }

    .rr{
        gap: 40px;
    }
}

@media screen and (max-width : 392px) {
    .photos img{
        width: 60px;
        height: 60px;
    }

    .ss img,.slid img{
        width: 162px;
    }

    .sp1{
        width: 300px;
    }

    .sp3-1{
        width: 300px;
    }

    .blog{
        width: 300px;
    }

    .sp2{
        width: 300px;
        margin: 5rem 0;
    }

    header{
        margin: 0 1rem;
    }

    .footer1{
        padding: 3rem 0.5rem 2rem 0.5rem;
    }

    .navbar{
        margin: 0  0 0 0 ;
        padding: 0;
    }
}

@media screen and (max-width : 348px) {
    .photos img{
        width: 50px;
        height: 50px;
    }
}
